* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* b-header */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  max-width: 960px !important;
  margin: 0 auto !important;
  width: 100%;
}
/* b-header */
.b-header {
  height: 80px;
  background-color: #0099cc !important;
  color: #ffff;
  align-items: center;
  display: flex;
}
.b-header .h1 {
  font-size: 32px;
}
/* b-main */
.b-main {
  overflow: hidden;
}
.b-main .container {
  margin-top: 24px !important;
}
/* b-filter */
.b-filter {
  width: 240px;
  float: left;
}
.b-filter .ul {
  list-style: none;
  padding: 0;
}
/* section */
.b-section {
  display: inline-block;
  width: 720px;
}
.b-section .section__text {
  height: 96px;
  margin-bottom: 12px;
}
.b-section h1.section__title {
  font-size: 32px;
}
.b-section h3.section__subtitle {
  font-size: 24px;
  margin-top: 12px;
}
/* b-category */
.b-category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.b-category .category__item {
  min-width: 348px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
}
.b-category .category__title a {
  color: #0099cc;
}
.b-category .category__subtitle {
  color: #666;
}
/* b-section popular */
.b-section.popular {
  margin-top: 12px;
}
.b-section.popular h1.section__title {
  height: 60px;
  display: flex;
  align-items: center;
}
/* b-toys */
.b-toys {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.b-toys .toys__toy {
  display: flex;
  margin-top: 12px;
  min-width: 228px;
  min-height: 84px;
  background-color: rgba(0, 0, 0, 0.05);
}
.b-toys .toys__toy:last-child {
  margin-right: 0;
}
.b-toys .toys__toy-img {
  background-color: #ccc;
  width: 60px;
  height: 60px;
  margin: 12px;
}
.b-toys .toys__toy-info {
  margin-top: 12px;
}
.b-toys .toys__toy-title {
  padding-bottom: 15px;
}
.b-toys .toys__toy-title a {
  color: #0099cc;
}
.b-toys .toys__toy-button {
  padding-bottom: 12px;
  width: 72px;
  height: 24px;
  background-color: #ccc;
  text-align: center;
}
.b-toys .toys__toy-button a {
  text-decoration: none;
  color: #000;
}
/* b-footer */
.b-footer {
  margin-top: auto;
}
.b-footer .container {
  background-color: rgba(0, 0, 0, 0.05);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b-footer .footer__contact {
  margin-left: 12px;
}
.b-footer .footer__contact a {
  color: #666;
  text-decoration: none;
}
.b-footer .footer__copyright {
  margin-right: 12px;
  color: #666;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .b-header .container {
    justify-content: start;
  }
  .b-filter {
    display: none;
  }
  .b-footer {
    display: none;
  }
  .b-header .h1 {
    margin-left: 12px;
  }
  .b-toys .toys__toy {
    margin-bottom: 12px;
  }
}
@media (max-width: 516px) {
  .b-category .category__item {
    width: 100%;
    margin-top: 12px;
  }
  .b-category .category__item:first-child {
    margin-top: 0;
  }
  .container {
    margin-left: 12px;
    padding: 0 15px;
  }
}
